*:hover {
    transition: all 0.5s;
}

.header-quote {
    color: lightgray;
    font-size: large;
}

.ref-cite {
    font-size: medium;
}

.quote-box {
    border: 1px solid;
    border-color: black;
    padding: 1em;
}

img {
    width: 90%;
    height: auto;
}

.quote-area {
    padding: 1em;
}

.info-box {
    padding: 1em;
    margin: 0.5em;
    border: 1px solid;
    border-color: gray;
}

.navbar-dark {
    background: #141414 !important;
}

.navbar-dark .navbar-nav > li > a:hover, .navbar-dark .navbar-nav > li > a:focus {
    background-color: #3a3636;
    color: white !important;
    text-decoration: underline;
}

.body-background {
    background-color: #171717;
    color: white;
}

hr {
    background-color: gray;
}

footer {
    position: relative;
    text-align: center;
    z-index: 1;
}

.footer-box {
    background: #0f0f0f;
    border: 1px solid #515151;
    border-bottom: none;
}

.footer-icon {
    cursor: pointer;
    display: inline-block;
    width: 30%;
    fill: white;
    background-color: #0f0f0f;
}

.footer-icon:hover {
    background: #333333;
}

footer img {
    height: 4em;
}

#disclaimer {
    font-size: small;
}