.header-quote {
    color: lightgray;
    font-size: large;
}

.ref-cite {
    font-size: medium;
}

.quote-box {
    border: 1px solid;
    border-color: black;
}

img {
    width: 90%;
    height: auto;
}

.quote-area {
    padding: 1em;
}

.info-box {
    padding: 1em;
    border: 1px solid;
    border-color: gray;
}

/* TODO: FIX THIS! Will look super ugly. Just a demonstration of how to add the mouseover effect */
.navbar-dark .navbar-nav > li > a:hover, .navbar-dark .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}