:root {
    --nav-home: orange;
    --nav-about: green;
    --nav-rants: cyan;
    --nav-fun: yellow;
    --nav-refs: violet;
    --black-nav-bg: #0f0f0f;
    --black-spacing-bg: #1a1a1a;
    --black-content-bg: #171717;
    --black-footer-bg: #0f0f0f;
}

.header-quote {
    color: lightgray;
    font-size: large;
}

.ref-cite {
    font-size: medium;
}

.quote-box {
    border: 1px solid;
    border-color: black;
    padding: 1em;
}

img {
    width: 90%;
    height: auto;
}

.quote-area {
    padding: 1em;
}

.info-box {
    padding: 1em;
    margin: 0.5em;
    border: 1px solid;
    border-color: gray;
}

.navbar-dark {
    background: var(--black-nav-bg) !important;
}

.navbar-dark .navbar-nav > .nav-item:hover, .navbar-dark .navbar-nav > .nav-item:focus {
    background-color: #3a3636;
    color: white !important;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.nav-item:hover .nav-icon {
    opacity: 1;
    left: -8%;
    transition: left 0.5s ease-in, opacity 0.2s linear;
}

.nav-item:hover .nav-text {
    left: 8%;
    transition: left 0.5s ease-in;
}

.body-background {
    background: var(--black-spacing-bg);
    color: white;
    z-index: 0;
}

hr {
    background-color: gray;
}

footer {
    position: relative;
    text-align: center;
    z-index: 1;
}

.footer-box {
    background: var(--black-footer-bg);
    border: 1px solid #515151;
    border-bottom: none;
}

.footer-icon {
    cursor: pointer;
    display: inline-block;
    width: 30%;
    fill: white;
    background-color: var(--black-footer-bg);
}

.footer-icon:hover {
    background-color: #333333;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

footer img {
    height: 4em;
}

#disclaimer {
    font-size: small;
}

.runner {
    position: relative;
    z-index: 2;
}

.nav-icon {
    position: absolute;
    height: 1.5em;
    vertical-align: text-bottom;
    opacity: 0;
    left: 0%;
    transition: left 0.5s ease-out, opacity 0.2s linear;
}

.nav-text {
    position: relative;
    left: 0%;
    transition: left 0.5s ease-out;
}

.nav-link {
    position: relative;
}

.nav-item {
    align-items: center;
    justify-content: center;
}

.navbar-nav li:not(:last-child) {
    border-right: 1px solid white;
}

#home-tab:hover .nav-text {
    color: var(--nav-home);
}

#about-tab:hover .nav-text {
    color: var(--nav-about);
}

#rants-tab:hover .nav-text {
    color: var(--nav-rants);
}

#amusements-tab:hover .nav-text {
    color: var(--nav-fun);
}

#references-tab:hover .nav-text {
    color: var(--nav-refs);
}

.animation-spacing {
    position: static;
    display: flex;
    justify-content: center;
    z-index: -1;
    height: 50vw;
    width: 100%;
}

.animated-title-box {
    position: fixed;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    top: 40%;
    width: 40%;
    height: 10%;
    opacity: 1;
    z-index: 1;
}

.longer-title-box {
    width: 60%;
}

.animated-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    width: 100%;
    height: 100%;
    font-size: large;
}

.content-area {
    z-index: 2;
    position: relative;
    background-color: var(--black-content-bg);
}

.game-area {
    position: relative;
}

.game-inputs {
    display: inline-flex;
    justify-content: center;
}

.letter-grid {
    margin-top: 1rem;
    display: grid;
    width: 30%;
    row-gap: 2%;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.letter-grid-cell {
    display: flex;
    width: 50%;
    height: auto;
    justify-self: center;
    justify-content: center;
    border: 1px solid white;
}

.correct {
    background-color: green;
    color: black;
    transition: all 0.5s;
}

.almost {
    background-color: yellow;
    color: black;
    transition: all 0.5s;
}

.wrong {
    background-color: white;
    color: black;
    transition: all 0.5s;
}